@import 'columns';
@import 'variables';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';
@import 'circle.css';
@import 'carousel.css';

@import 'base/classes';
@import 'base/layout';
@import 'base/navbar';
@import 'base/footer';

@import 'modules/home';
@import 'modules/job';
@import 'modules/universal';
@import 'modules/forms';
@import 'modules/team';



.backgroundF {
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centerV {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  text-align: center;
}

aside {
  padding: 40px 70px;
  text-align: right;
  height: 100%;
  position: relative;
  
  @media(max-width: 1280px) {
    padding: 40px 30px;
  }
  
  @media(max-width: 799px) {
    text-align: left;
    padding: 30px 20px;

    h2 {
      margin-bottom: 10px;
    }

  }

  hr {
    border: none;
    border-top: 4px solid $seaD;
    width: 40px;
    text-align: right;
    margin-left: auto!important;
    margin-right: 0!important;
    margin-bottom: 25px;
  
    @media(max-width: 799px) {
      text-align: left;
      margin-left: 0!important;
      margin-right: auto!important;
    }

  }
  span {
    margin: 0;
  }
  h2 {
    margin-top: 10px;
  }
}

nav.pagination {
  padding: 0 70px 50px;

  @media(max-width: 1024px) {
    padding: 0 40px 40px;
  } 

  .nav-links {
    @include clearfix;
    .page-numbers {
      line-height: 30px;
      text-align: center;
      border: 1px solid $grey;
      width: 32px;
      height: 32px;
      display: block;
      float: left;
      margin-right: 10px;
      &.next,
      &.prev {
        width: auto;
        display: inline-block;
        padding: 0 15px;
      }
    }
    .current {
      font-size: 16px;
      background-color: $seaL;
      color: white;
      border-color: $seaL;
    }
  }
}

.apply-to {
  padding: 10px 0;
  margin: 20px auto 0;
  width: 160px;
  text-align: center;
  display: block;
  position: relative;
  float: none;
  background-color: $seaL;
  line-height: 1;
  color: white;
  font-size: 14px;
  font-family: $mMedium;

  @media(max-width: 799px) {
    margin: 20px 0;
  }

}

#map{
  min-height: 600px;
  width: 100%;
  position: relative;
  display: block;

  @media(max-width: 580px) {
    min-height: 420px; 
  }

}

.panel-header,
.btn-primary {
  background-color: $seaL!important;
  border-color: $seaD!important;
}