@font-face {
	font-family: "TRIALBwModelica-Black";
	src: url("../font/TRIALBwModelica-Black.eot");
	src: url("../font/TRIALBwModelica-Black.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-Black.woff") format("woff"), url("../font/TRIALBwModelica-Black.ttf") format("truetype"), url("../font/TRIALBwModelica-Black.otf") format("opentype"), url("../font/TRIALBwModelica-Black.svg#TRIALBwModelica-Black") format("svg");
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}
@font-face {
	font-family: "TRIALBwModelica-ExtraBold";
	src: url("../font/TRIALBwModelica-ExtraBold.eot");
	src: url("../font/TRIALBwModelica-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-ExtraBold.woff") format("woff"), url("../font/TRIALBwModelica-ExtraBold.ttf") format("truetype"), url("../font/TRIALBwModelica-ExtraBold.otf") format("opentype"), url("../font/TRIALBwModelica-ExtraBold.svg#TRIALBwModelica-ExtraBold") format("svg");
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}
@font-face {
	font-family: "TRIALBwModelica-Bold";
	src: url("../font/TRIALBwModelica-Bold.eot");
	src: url("../font/TRIALBwModelica-Bold.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-Bold.woff") format("woff"), url("../font/TRIALBwModelica-Bold.ttf") format("truetype"), url("../font/TRIALBwModelica-Bold.otf") format("opentype"), url("../font/TRIALBwModelica-Bold.svg#TRIALBwModelica-Bold") format("svg");
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}
@font-face {
	font-family: "TRIALBwModelica-Medium";
	src: url("../font/TRIALBwModelica-Medium.eot");
	src: url("../font/TRIALBwModelica-Medium.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-Medium.woff") format("woff"), url("../font/TRIALBwModelica-Medium.ttf") format("truetype"), url("../font/TRIALBwModelica-Medium.otf") format("opentype"), url("../font/TRIALBwModelica-Medium.svg#TRIALBwModelica-Medium") format("svg");
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}
@font-face {
	font-family: "TRIALBwModelica-Regular";
	src: url("../font/TRIALBwModelica-Regular.eot");
	src: url("../font/TRIALBwModelica-Regular.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-Regular.woff") format("woff"), url("../font/TRIALBwModelica-Regular.ttf") format("truetype"), url("../font/TRIALBwModelica-Regular.otf") format("opentype"), url("../font/TRIALBwModelica-Regular.svg#TRIALBwModelica-Regular") format("svg");
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}
@font-face {
	font-family: "TRIALBwModelica-Light";
	src: url("../font/TRIALBwModelica-Light.eot");
	src: url("../font/TRIALBwModelica-Light.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-Light.woff") format("woff"), url("../font/TRIALBwModelica-Light.ttf") format("truetype"), url("../font/TRIALBwModelica-Light.otf") format("opentype"), url("../font/TRIALBwModelica-Light.svg#TRIALBwModelica-Light") format("svg");
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}
@font-face {
	font-family: "TRIALBwModelica-Hairline";
	src: url("../font/TRIALBwModelica-Hairline.eot");
	src: url("../font/TRIALBwModelica-Hairline.eot?#iefix") format("embedded-opentype"), url("../font/TRIALBwModelica-Hairline.woff") format("woff"), url("../font/TRIALBwModelica-Hairline.ttf") format("truetype"), url("../font/TRIALBwModelica-Hairline.otf") format("opentype"), url("../font/TRIALBwModelica-Hairline.svg#TRIALBwModelica-Hairline") format("svg");
	font-weight: 250;
	font-style: normal;
	font-stretch: normal;
  // unicode-range: U+000D-FB02
}


$mHairline: "TRIALBwModelica-Hairline";
$mLight: "TRIALBwModelica-Light";
$mRegular: "TRIALBwModelica-Regular";
$mMedium: "TRIALBwModelica-Medium";
$mBold: "TRIALBwModelica-Bold";
$mExtrabold: "TRIALBwModelica-ExtraBold";
$mBlack: "TRIALBwModelica-Black";

@mixin trans($time) {
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-ms-transition: all $time ease;
	-o-transition: all $time ease;
	transition: all $time ease;
}

@mixin transformY($trans) {
	-moz-transform: translateY($trans);
	-webkit-transform: translateY($trans);
	-o-transform: translateY($trans);
	-ms-transform: translateY($trans);
	transform: translateY($trans);
}

@mixin transformX($trans) {
	-moz-transform: translateX($trans);
	-webkit-transform: translateX($trans);
	-o-transform: translateX($trans);
	-ms-transform: translateX($trans);
	transform: translateX($trans);
}

@mixin transformA($trans1, $trans2, $trans3) {
	-moz-transform: rotate($trans1) translateX($trans2) translateY($trans3);
	-webkit-transform: rotate($trans1) translateX($trans2) translateY($trans3);
	-o-transform: rotate($trans1) translateX($trans2) translateY($trans3);
	-ms-transform: rotate($trans1) translateX($trans2) translateY($trans3);
	transform: rotate($trans1) translateX($trans2) translateY($trans3);
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$seaD: #43c1a5;
$seaL: #50e3c2;
$grey1: #979797;
$grey: #666666;
$grey2: #3c3c3c;
$dgrey: #282828;
$lgrey: #f0f0f0;
$navHeight: 120px;
$navHeightJobs: 120px;
