.filter-opener {
  height: 32px;
  padding: 0 16px;
  cursor: pointer;
  background-color: $dgrey;
  color: white;
  display: none;
  
  i {
    font-size: 22px;
    margin-right: 10px;
    line-height: 32px;
    display: inline-block;
    float: left;
  }

  span {
    line-height: 32px;
    margin: 0;
    display: inline-block;
    float: left;
  }

  @media(max-width: 799px) {
    display: block;
  }

  @media(max-width: 480px) {
    height: 26px;

    i {
      font-size: 18px;
      line-height: 26px;
    }

    span {
      font-size: 10px;
      line-height: 26px;
    }

  }

}

.gradient {
  display: none;

  @media(min-width: 800px) {
    background-image: url('../img/gradient.png');
    background-repeat: repeat-x;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 128px;
    display: block;
    z-index: 9999999999;
  }

}

.job-details,
.job-filters {
  background-color: $lgrey;

  aside {
    padding-bottom: 0;
  
    &.sticky {
      position: fixed;
      width: 25%;
      left: 0;
      top: 125px;
      max-width: 480px;
    }

  }

}
.job-filters {
  text-align: right;
  @include clearfix;
  display: block;

  @media(max-width: 799px) {
    display: none;
  }

  aside {
    padding-top: 45px;
    height: auto;
    width: 100%;
    @include clearfix;
    
    @media(max-width: 799px) {
      padding-top: 30px;
      padding-bottom: 0;
    }

  }
  hr.green {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top-width: 2px;
    width: 36px;
  }
  h5 {
    text-transform: uppercase;
    color: $dgrey;
    margin-bottom: 0;
    &:first-of-type {
      margin-top: 30px;

      @media(max-width: 799px) {
        margin-top: 25px;
      }

    }
  }

  &-search1 {
    
    @media(max-width: 799px) {
      display: block;
      float: none;
      width: 100%;
    }

  }

  &-search2 {
    
    @media(max-width: 799px) {
      float: left;
      width: 100%;
      max-width: 244px;
    }

  }

  &-search3 {
    
    @media(max-width: 799px) {
      float: left;
      width: 100%;
      max-width: 244px;
    }

  }

  &-search4 {
    
    @media(max-width: 799px) {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }

  }

  .job-categories,
  .job-types {
    list-style: none;
    padding: 0;
    font-size: 14px;
    li {
      padding: 3px 0;
      color: $dgrey;
      a.pushed {
        font-family: $mBold;
      }
    }
  }
  .ajax-search {
    input {
      max-width: 220px;
      width: 100%;
      height: 30px;
      line-height: 28px;
      border: 1px solid $seaL;
      font-size: 13px;
      font-family: $mRegular;
      margin: 2px 0;
      padding: 0 15px;
      outline: none !important;
      -webkit-appearance: none!important;
      -moz-appearance: none!important;
      appearance: none!important;
      -webkit-border-radius: 0;
      border-radius: 0;

      @media(max-width: 799px) {
        max-width: 240px;
      }

    }
  }
}

.job-details {
  padding-top: 15px;
  aside {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    width: 100%;

    @media(max-width: 1280px) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
  .the-details {
    font-size: 14px;
    padding: 5px 0;

    @media(max-width: 1280px) {
      padding: 7px 0;
    }
    
    .title {
      padding-right: 15px;
      font-family: $mBold;
      color: $dgrey;

      @media(max-width: 1280px) {
        text-align: left;
        margin-bottom: 5px;
      }

    }
    .value {
      text-align: left;
      font-size: $mRegular;
      color: $grey;
    }
    .map{
      padding-top: 15px;
    }
    #job_map{
      width: 100%;
      height: 280px;
      display: block;
      position: relative;

      @media(max-width: 1440px) {
        height: 250px;
      }

    }
  }
}

.share-btn{
  text-align: center;
  margin: 25px 0 0;

  @media(max-width: 799px) {
    text-align: left;
    margin: 15px 0 0;
  }

  .share-buttons{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: auto;
    position: relative;
    display: inline-block;
    li{
      float: left;
      padding: 5px;
      text-align: center;
      
      a {
        position: relative;
        z-index: 99999999;
        text-align: center;

        i {
          font-size: 19px;
          line-height: 22px;
          color: white;
          text-align: center;
        }

      }

      .hexagon {
        position: relative;
        width: 35px; 
        height: 20.21px;
        margin: 10.10px 0;
        &:before {
          top: -12.3744px;
        }
        &:after {
          bottom: -12.3744px;
        }
        &.facebook {
          background-color: #3b5998;
          border-left: solid 2px #3b5998;
          border-right: solid 2px #3b5998;
          &:before {
            border-top: solid 2.8284px #3b5998;
            border-right: solid 2.8284px #3b5998;
          }
          &:after {
            border-bottom: solid 2.8284px #3b5998;
            border-left: solid 2.8284px #3b5998;
          }
        }
        &.twitter {
          background-color: #55acee;
          border-left: solid 2px #55acee;
          border-right: solid 2px #55acee;
          &:before {
            border-top: solid 2.8284px #55acee;
            border-right: solid 2.8284px #55acee;
          }
          &:after {
            border-bottom: solid 2.8284px #55acee;
            border-left: solid 2.8284px #55acee;
          }
        }
        &.gplus {
          background-color: #dd4b39;
          border-left: solid 2px #dd4b39;
          border-right: solid 2px #dd4b39;
          &:before {
            border-top: solid 2.8284px #dd4b39;
            border-right: solid 2.8284px #dd4b39;
          }
          &:after {
            border-bottom: solid 2.8284px #dd4b39;
            border-left: solid 2.8284px #dd4b39;
          }
        }
        &.pocket {
          background-color: #f73b57;
          border-left: solid 2px #f73b57;
          border-right: solid 2px #f73b57;
          &:before {
            border-top: solid 2.8284px #f73b57;
            border-right: solid 2.8284px #f73b57;
          }
          &:after {
            border-bottom: solid 2.8284px #f73b57;
            border-left: solid 2.8284px #f73b57;
          }
        }
        &.linkedin {
          background-color: #007bb5;
          border-left: solid 2px #007bb5;
          border-right: solid 2px #007bb5;
          &:before {
            border-top: solid 2.8284px #007bb5;
            border-right: solid 2.8284px #007bb5;
          }
          &:after {
            border-bottom: solid 2.8284px #007bb5;
            border-left: solid 2.8284px #007bb5;
          }
        }
        &.mail {
          background-color: #aaa;
          border-left: solid 2px #aaa;
          border-right: solid 2px #aaa;
          &:before {
            border-top: solid 2.8284px #aaa;
            border-right: solid 2.8284px #aaa;
          }
          &:after {
            border-bottom: solid 2.8284px #aaa;
            border-left: solid 2.8284px #aaa;
          }
        }
      }

      .hexagon:before,
      .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 24.75px;
        height: 24.75px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 3.1256px;
      }

    }
  }
}
.share-btn-down{
  text-align: left;
  margin: 0 0 10px 0;
  h4{
    margin: 0 0 12px 0;
  }
  hr.job-green {
    margin-bottom: 8px!important;
  }
  .share-buttons{
    list-style: none;
    padding: 0;
    margin: 0;
    width: auto;
    position: relative;
    display: block;
    li{
      float: left;
      padding: 5px 10px 5px 0;
      text-align: center;
      line-height: 1;
      
      a {
        position: relative;
        z-index: 99999999;
        text-align: center;
        line-height: 1;

        i {
          font-size: 19px;
          line-height: 22px;
          color: white;
          text-align: center;
        }

      }

      .hexagon {
        position: relative;
        width: 35px; 
        height: 20.21px;
        margin: 10.10px 0;
        &:before {
          top: -12.3744px;
        }
        &:after {
          bottom: -12.3744px;
        }
        &.facebook {
          background-color: #3b5998;
          border-left: solid 2px #3b5998;
          border-right: solid 2px #3b5998;
          &:before {
            border-top: solid 2.8284px #3b5998;
            border-right: solid 2.8284px #3b5998;
          }
          &:after {
            border-bottom: solid 2.8284px #3b5998;
            border-left: solid 2.8284px #3b5998;
          }
        }
        &.twitter {
          background-color: #55acee;
          border-left: solid 2px #55acee;
          border-right: solid 2px #55acee;
          &:before {
            border-top: solid 2.8284px #55acee;
            border-right: solid 2.8284px #55acee;
          }
          &:after {
            border-bottom: solid 2.8284px #55acee;
            border-left: solid 2.8284px #55acee;
          }
        }
        &.gplus {
          background-color: #dd4b39;
          border-left: solid 2px #dd4b39;
          border-right: solid 2px #dd4b39;
          &:before {
            border-top: solid 2.8284px #dd4b39;
            border-right: solid 2.8284px #dd4b39;
          }
          &:after {
            border-bottom: solid 2.8284px #dd4b39;
            border-left: solid 2.8284px #dd4b39;
          }
        }
        &.pocket {
          background-color: #f73b57;
          border-left: solid 2px #f73b57;
          border-right: solid 2px #f73b57;
          &:before {
            border-top: solid 2.8284px #f73b57;
            border-right: solid 2.8284px #f73b57;
          }
          &:after {
            border-bottom: solid 2.8284px #f73b57;
            border-left: solid 2.8284px #f73b57;
          }
        }
        &.linkedin {
          background-color: #007bb5;
          border-left: solid 2px #007bb5;
          border-right: solid 2px #007bb5;
          &:before {
            border-top: solid 2.8284px #007bb5;
            border-right: solid 2.8284px #007bb5;
          }
          &:after {
            border-bottom: solid 2.8284px #007bb5;
            border-left: solid 2.8284px #007bb5;
          }
        }
        &.mail {
          background-color: #aaa;
          border-left: solid 2px #aaa;
          border-right: solid 2px #aaa;
          &:before {
            border-top: solid 2.8284px #aaa;
            border-right: solid 2.8284px #aaa;
          }
          &:after {
            border-bottom: solid 2.8284px #aaa;
            border-left: solid 2.8284px #aaa;
          }
        }
      }

      .hexagon:before,
      .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 24.75px;
        height: 24.75px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 3.1256px;
      }

    }
  }
}
.job-list{
  .search-query{
    padding: 60px 70px 0;
    font-size: 18px;
    width: 100%;

    span {
      text-transform: none;
      font-weight: 400;
      font-size: 18px;
      font-family: $mMedium;
      margin-left: 15px;
    }

    @media(max-width: 1024px) {
      padding: 60px 40px 0;
      font-size: 16px;

      span {
        font-size: 16px;
      }

    }

    @media(max-width: 799px) {
      padding: 30px 20px 0;
      font-size: 14px;

      span {
        font-size: 14px;
        margin-left: 9px;
      }

    }

  }
}

.the-job,
.the-job-content {
  position: relative;
  display: block;
  width: 100%;
  float: none;
  padding: 50px 70px;

  @media(max-width: 1024px){
    padding: 50px 40px; 
  }

  @media(max-width: 799px){
    padding: 30px 20px; 

    h3 {
      font-size: 27px;
    }

  }

  &-text{
    margin-bottom: 40px;
  }
  h2,h3 {
    color: $grey2;
    margin-bottom: 15px;
  }
  p,
  li {
    font-size: 14px;
    color: $grey;
    font-family: $mRegular;
    line-height: 1.8;

    @media(max-width: 799px) {
      line-height: 1.5;
    }

  }
  ul {
    padding-left: 30px;
  }
  hr {
    border: none;
    float: left;
    border-top: 1px solid $grey1;
    margin-top: 40px;
    margin-bottom: 0;
    width: 100%;
    &.job-green {
      float: none;
      border-top: 2px solid $seaL;
      width: 40px;
      margin: 0;
      margin-bottom: 20px;
    }
  }
}

.the-job-content{
  padding: 30px 70px 50px;

  &-text{
    margin-bottom: 30px;
  }

  @media(max-width: 1024px){
    padding: 30px 40px 50px;    
  }

  @media(max-width: 799px){
    padding: 30px 20px 40px;    
  }

}

.the-job {
  padding-top: 10px;
  padding-bottom: 0;
  &:first-child {
    padding-top: 30px;
  }
  &:last-of-type {
    padding-bottom: 50px;
  }
  .job-readmore {
    padding: 10px 35px;
    margin: 20px 0 0 0;
    position: relative;
    float: left;
    background-color: $seaL;
    line-height: 1;
    color: white;
    font-size: 14px;
    font-family: $mMedium;
  }
  .in-short {
    p {
      margin: 5px auto;

      @media(max-width: 799px) {
        margin: 2px 0;
      }

    }
    strong {
      padding-right: 5px;
    }
  }
}