html,
body {
	max-width: 1920px;
	min-height: 100% !important;
	width: 100%;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
	font-family: $mRegular;
	font-size: 16px;
	line-height: 1.2;
	font-style: normal;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: white;

	@media( max-width: 799px) {
		font-size: 14px;
	}

}

h1 {
	font-size: 44px;
	font-family: $mLight;
	font-weight: 400;
	letter-spacing: 1px;
	
	@media(max-width: 1280px) {
		font-size: 36px;
	}

	@media(max-width: 799px) {
		font-size: 32px;
	}

}

h2 {
	font-size: 38px;
	font-family: $mLight;
	font-weight: 400;
	
	@media(max-width: 1280px) {
		font-size: 30px; 
	}

	@media(max-width: 799px) {
		font-size: 28px;
	}

}

h3 {
	font-size: 28px;
	font-family: $mLight;
	font-weight: 400;
	
	@media(max-width: 1280px) {
		font-size: 24px; 
	}

	@media(max-width: 799px) {
		font-size: 21px;
	}

}

h4 {
	font-size: 24px;
	font-family: $mLight;
	font-weight: 400;
	
	@media(max-width: 1280px) {
		font-size: 19px; 
	}

	@media(max-width: 799px) {
		font-size: 18px;
	}

}

h5 {
	font-size: 18px;
	font-family: $mLight;
	font-weight: 400;
	
	@media(max-width: 1280px) {
		font-size: 16px; 
	}

	@media(max-width: 799px) {
		font-size: 15px;
	}

}

span {
	font-size: 12px;
	font-family: $mExtrabold;
	text-transform: uppercase;
}

p {
	font-size: 16px;
	font-family: $mRegular;
	font-weight: 400;
	color: $grey;
	line-height: 1.7;
	strong {
		font-family: $mMedium;
		font-weight: 600;
	}
	
	@media(max-width: 1280px) {
		font-size: 15px; 
	}

	@media(max-width: 799px) {
		font-size: 14px;
	}

}

figure,
figcaption {
	margin: 0;
}

img,
object,
video,
figure,
figcaption,
picture,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

picture {
	display: block;
}

h3 + hr.green {
	margin-top: -10px!important;
}

hr.green {
	border: 0;
	height: 2px;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 20px;
	border-top: 2px solid $seaD;
	width: 40px;
}

a,
a:focus,
a:hover,
a:active,
a:visited {
	color: inherit;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

.white {
	color: white;
}

.black {
	color: black;
}

.wrapper {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	padding-top: $navHeight;
	overflow: hidden!important;

	@media(max-width: 980px) {
		padding-top: 106px;
	}

	@media(max-width: 480px) {
		padding-top: 78px;
	}

}

.container {
	max-width: 1200px;
}

.frontPage {
	.wrapper{
		padding-top: 0;
	}
}